// all of the JavaScript files that need to be
// downloaded to the client
script(src='//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js')
script(src='http://code.jquery.com/jquery-1.11.1.min.js')
script(src='//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.5/parsley.min.js')
script(src='/bootstrap/js/bootstrap.min.js')
script(src='/socket.io/socket.io.js')
script(src='/javascripts/polyfill.js')
script(src='/javascripts/game.js')
script(src='/javascripts/gameClient.js')
script(src='/javascripts/gameEvents.js')