<!DOCTYPE html>
<html lang="en" ng-app>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- ensure proper rendering and touch zooming on mobile devices-->
    <title>Sokoban</title>
    <!-- include AngularJS asap-->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <!-- css styles-->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/sokoban.css">
    <link rel="stylesheet" href="/stylesheets/parsley.css">
  </head>
  <!-- Navigation-->
  <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display-->
      <div class="navbar-header"></div><a href="/" class="navbar-brand">Sokoban</a>
      <!-- Collect the nav links, forms, and other content for toggling-->
      <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="about">About</a></li>
          <li><a href="contact">Contact</a></li>
          <li><a href="help">Help</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </div>
  </nav>
  <body>
    <div class="container">
      <div class="row">
        <h2>Help</h2>
        <p>Use the keys wasd for movement or swipe if on touch enabled screen.</p>
      </div>
    </div>
  </body>
  <!-- all of the JavaScript files that need to be-->
  <!-- downloaded to the client-->
  <script src="//cdn.jsdelivr.net/hammerjs/2.0.4/hammer.min.js"></script>
  <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/parsley.js/2.0.5/parsley.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/javascripts/polyfill.js"></script>
  <script src="/javascripts/game.js"></script>
  <script src="/javascripts/gameClient.js"></script>
  <script src="/javascripts/gameEvents.js"></script>
</html>