extends layout
block content
  .container
    .row
      h2 About
      p This game was developed as a response to Celtra programming challenge 2014. More about this challenge can be found <a href="http://www.fri.uni-lj.si/si/raziskave/studentski_izzivi/celtrin_izziv/">here</a>.