extends layout

block content
  ul#messages
  form(action="")
    input(id="m", autocomplete="off")
    button Send
  script(type='text/javascript').
      var socket = io();
      $('form').submit(function(){
            // emit event message of type chat message
            // with value of input with id m
            socket.emit('chat message', $('#m').val());
            $('#m').val('');
            return false;
        });
        // on message receive
        socket.on('chat message', function(msg) {
            $('#messages').append($('<li>').text(msg));
        });