extends layout

block content
  div.container
    //.row
      button.btn.btn-lg.btn-primary(href="test", type="button") New multiplayer
    #sokoban
    a.btn.btn-lg.btn-danger#restart Restart
    // TODO: Do a proper POST on the server!
    .newGame
      h2 New multiplayer game
        form(role='form')
          .form-group
            label(for='roomName') Room name:
            input#roomName.form-control(type='text', placeholder='Enter room name')
          .form-group
            label(for='levelId') Level id:
            input#levelId.form-control(type='text', placeholder='Enter level id')
          a.btn.btn-lg.btn-primary#create Create
    .list-group#rooms
      .list-group-item.active
        h4.list-group-item-heading Game room 1
        p.list-group-item-text Description of game room 1
        a.btn.btn-sm.btn-info.room#room1 Join
      .list-group-item#room2
        h4.list-group-item-heading Game room 2
        p.list-group-item-text Description of game room 2
        a.btn.btn-sm.btn-info.room#room2 Join
      .list-group-item#room3
        h4.list-group-item-heading Game room 3
        p.list-group-item-text Description of game room 3
        a.btn.btn-sm.btn-info.room#room3 Join
  // TODO: New Single player
  // TODO: New Multiplayer: New game room!
  // TODO: Join multiplayer game: List game rooms!
  // TODO: Server side logic for implementing the game room?
  // TODO: Namespaces?

