.stone {
    background-color:#000000;
    width:32px;
    height:32px;
    position:absolute;
}

.placeholder {
    background-color:#ff0000;
    width:32px;
    height:32px;
    position:absolute;
}

.block {
    border:10px solid #00ff00;
    width:12px;
    height:12px;
    position:absolute;
}

.player{
    border:10px solid #0000ff;
    width:12px;
    height:12px;
    position:absolute;
}

#messages {
    margin-left: 500px;
}
#restart {
    margin-left: 500px;
}
#sokoban {
    position: relative;
    width: 400px;
    height: 400px;
}